<div class="row">
  <div class="col-md-12">
    <h2>Add Lock</h2>

    <form class="form addLock-form "action="/add_lock" method="POST">
        <div class="form-group">
        <label for="siteName">Site:</label>
        <input class="form-input" type="text" id="siteName" />
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-input" type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Lock</button>
      </div>
    </form>
  </div>

</div>

<script src="./js/addLock.js"></script>
