<div class="row">
  <div class="col-md-12">
    <h2>New Lock Added</h2>
     {{#each locks}}
    <div class="form added-form">
        <div class="form-group">
        <p for="siteName">Site:    {{this.site}}</p>
                                   
      </div>
      <div class="form-group">
        <p for="username">Username:  {{this.username}} </p>
        
      </div>
      <div class="form-group">
        <p for="password">Password:   {{this.password}} </p>
        
      </div>
      
    </div>
    <br>
    {{/each}}
  </div>

</div>

<script src="./js/added.js"></script>