<body>
  {{!-- <div class="row mb-4 logo" style="width:650px;height:479px;"> --}}
    <p style="text-align: center;">
      <img src = "./images/lock_it_up_logo.png" alt = "lock it up logo" width="650" height="479" />
      <br>Your password is the key to your digital life. Lock it up!
      <br><em>User Management Tool</em>

    </p>
  </div>
</body>
