<div class="row">
  <div class="col-md-12">
    <h2>New Lock Added</h2>

      <div class="form added-form">
        <div class="form-group">
        <p for="siteName">Site:    {{lock.site}}</p>       
      </div>
      <div class="form-group">
        <p for="username">Username:  {{lock.username}} </p>
        
      </div>
      <div class="form-group">
        
        <p for="password">Password:  {{lock.password}} </p>
        
      </div>
      
    </div>
    <br>
    
  </div>